body {
    background: rgb(34, 33, 33);
    font-family: Arial;
}
.title, .info {
    color: white;
}
.title {
    text-align: center;
}
.home:link, .home:visited, .home:active, .home:hover {
    color: rgb(170, 184, 181);
}