body {
    background: rgb(34, 33, 33);
    font-family: Arial;
}
.title, .info {
    color: white;
}
.title {
    text-align: center;
}
.home:link, .home:visited, .home:active {
    color: rgb(170, 184, 181);
}
.home:hover {
    color: var(--lx-web-link-hover);
    text-decoration: none;
}