@import url("/CSS/CustomCSS/customcss.css");
body {
    background: url("/Images/macosmonterey.png");
}

.select {
    background-color: var(--lx-web-opc-purple-color);
    border: none;
    border-radius: 9px;
}