@import url("/CSS/CustomCSS/customcss.css");

.abt{
    text-align: center;
    margin: -px 0 -3px;
    color: var(--lx-web-purple-color);
    font-family: Arial;
}
.abtcont {
    width: 275px;
    border: 200px solid var(--lx-web-opc-purple-color);
    border-radius: 9px;
    margin: 40px 0 -3px 32%;
    height: 0px;
}
.gthbacc {
    margin: -187px 0 -3px -187px;
}
.gthbacc, .prj, .frks {
    font-family: Arial;
    color: var(--lx-web-abt-title-color);
    font-size: 20px;
}
.prj, .frks {
    margin: 8px 0 -3px -187px;
}