.body {
    background: url("/Images/macosmonterey.png");
}
::-webkit-scrollbar {
    display: none;
    visibility: hidden;
    opacity: 0;
}
.logo {
    margin: -15px 15px 30px -23px;
}
.nm1, .nm2, .nm3, .nm4, .nm5, .nm6, .nm7 {
    font-family: Arial;
}
.nm1 {
    margin: -57px 0px -3px 20px;
}
.nm2 {
    margin: -18px 0px -3px 183px;
}
.nm3 {
    margin: -18px 0px -3px 239px;
}
.nm4 {
    margin: -18px 0px -3px 385px;
}
.nm5 {
    margin: -18px 0 -3px 600px;
}
.nm6 {
    margin: -18px 0 -3px 660px;
}
.nm7 {
    margin: -18px 0 -3px 785px;
}
.home:link, .home:visited, .home:hover, .home:active {
    color: rgb(151, 31, 207);
    text-decoration: none;

}
.navbar {
    width: 95%;
    border: 35px solid rgb(103, 38, 207);
    border-radius: 9px;
    margin: -1px;
    height: 0vh;
}
.artadosearch {
    width: 10%;
    border: 200px solid rgb(103, 38, 207);
    border-radius: 9px;
    margin: 10px;
    height: -0vh;
}
.artadosearchtitle {
    margin: -180px;
    font-family: Arial;
    text-align: center;
}
.ashr {
    margin: 190px -200px;
    width: 308%;
}
.aslogo {
    margin: -200px -10px 0px 0px;
}
.asp {
    font-family: Arial;
    margin: 0 0 0 -185px;
}