.abt, .abt-desk {
    text-align: center;
    margin: -px 0 -3px;
    color: rgb(103, 38, 207);
    font-family: Arial;
}
.abtcont {
    width: 700px;
    border-top: 350px solid rgb(103, 38, 207);
    margin: 40px 0 -3px 32%;
    height: 100px;
    border-radius: 9px 9px;
}
.abtcont-desk {
    width: 700px;
    border-top: 350px solid rgb(103, 38, 207);
    margin: 40px 0 -3px 600px;
    height: 100px;
    border-radius: 9px 9px;
}
.gthbacc {
    margin: -330px 0 -3px 20px;
}
.gthbacc, .gthbabt, .prj, .frks {
    font-family: Arial;
    color: rgb(151, 31, 207);
    font-size: 20px;
}
.gthbabt, .prj, .frks {
    margin: 8px 0 -3px 20px;
}