@import url("/CSS/CustomCSS/customcss.css");

.body {
    background: url("/Images/macosmonterey.png");
    font-family: Arial;
}
::-webkit-scrollbar {
    display: none;
    visibility: hidden;
    opacity: 0;
}
.logo {
    margin: -15px 15px 30px -23px;
}
.menu1 {
    margin: -57px 0px -3px 20px;
}
.menu2 {
    margin: -18px 0px -3px 183px;
}
.menu3 {
    margin: -18px 0px -3px 239px;
}
.menu4 {
    margin: -18px 0px -3px 385px;
}
.menu5 {
    margin: -18px 0 -3px 600px;
}
.menu6 {
    margin: -18px 0 -3px 660px;
}
.menu7 {
    margin: -18px 0 -3px 785px;
}
.home:link, .home:visited, .home:active {
    color: var(--lx-web-plato-color);
    text-decoration: none;

}
.home:hover {
    color: var(--lx-web-link-hover);
    text-decoration: none;
}
.navbar, .artadosearch {
    border-radius: 9px;
}
.navbar {
    width: 95%;
    border: 35px solid var(--lx-web-opc-purple-color);
    margin: -1px;
    height: 0vh;
}
.artadosearch {
    width: 10%;
    border: 200px solid var(--lx-web-opc-purple-color);
    margin: 10px;
    height: -0vh;
}
.artadosearchtitle {
    margin: -180px;
    text-align: center;
}
.ashr {
    margin: 190px -200px;
    width: 308%;
}
.aslogo {
    margin: -200px -10px 0px 0px;
}
.asp {
    margin: 0 0 0 -185px;
}