.body {
    background: url("https://onedrive.live.com/embed?resid=46999917FDF8E778%211253&authkey=%21AHgkK8fb7bM63sc&width=1920&height=1080");
}
::-webkit-scrollbar {
    display: none;
    visibility: hidden;
    opacity: 0;
}
.logo {
    margin: -15px 15px 30px -23px;
}
.nm1, .nm2, .nm3, .nm4, .nm5, .nm6, .nm7, .nm8, .nm9, .nm10 {
    font-family: Arial;
}
.nm1 {
    margin: -57px 0px -3px 20px;
}
.nm2 {
    margin: -18px 0px -3px 183px;
}
.nm3 {
    margin: -18px 0px -3px 270px;
}
.nm4 {
    margin: -18px 0px -3px 387px;
}
.nm5 {
    margin: -18px 0 -3px 475px;
}
.nm6 {
    margin: -18px 0 -3px 593px;
}
.nm7 {
    margin: -18px 0 -3px 725px;
}
.nm8 {
    margin: -18px 0 -3px 930px;
}
.nm9  {
    margin: -18px 0 -3px 1250px;
}
.nm10 {
    margin: 5px 0 -3px 21px;
}
.home:link, .home:visited, .home:hover, .home:active {
    color: rgb(151, 31, 207);
    text-decoration: none;
}
.abt, .abt-desk {
    text-align: center;
    margin: -px 0 -3px;
    color: rgb(103, 38, 207);
    font-family: Arial;
}
.navbar2 {
    width: 95%;
    border: 35px solid rgb(103, 38, 207);
    border-radius: 9px;
    margin: -1px;
    height: 0vh;
}
.abtcont {
    width: 275px;
    border: 200px solid rgb(103, 38, 207);
    border-radius: 9px;
    margin: 40px 0 -3px 320px;
    height: 0px;
}
.abtinfo {
    margin: 150px 0 -3px -200px;
}
.abtcont-desk {
    width: 700px;
    border-top: 350px solid rgb(103, 38, 207);
    margin: 40px 0 -3px 600px;
    height: 100px;
    border-radius: 9px 9px;
}
.gthbabt, .gthbabt, .prj, .frks {
    font-family: Arial;
    color: rgb(151, 31, 207);
    font-size: 20px;
}
.gthbabt, .prj, .frks {
    margin: 8px 0 -3px 20px;
}
.gthbacc {
    margin: -330px 0 -3px 20px;
}