.navbar {
    width: 1366px;
    border-top: 60px solid #ddd;
    margin: -8px;
    border-radius: 50px;
}
.logo {
    margin: -80px 15px 30px 15px;
}
.nm1 {
    margin: -57px 0px -3px 49px;
    font: 15px bold Arial;
}
.nm2 {
    margin: -17px 0px -3px 193px;
    font: 15px bold Arial;
}
.nm3 {
    margin: -17px 0px -3px 1310px;
    font: 15px bold Arial;
}
.nm4 {
    margin: -18px 0px -3px 229px;
}
.nm5 {
    margin: -19px 0 -3px 383px;
}
.nm6 {
    margin: -19px 0 -3px 500px;
}
.nm7 {
    margin: -19px 0 -3px 765px;
}
.tst {
    margin: 20px 0px 0px 229px;
}
.asw {
    width: 500px;
    height: 300px;
    background: #ddd;
    border-radius: 50px; 
}
.tcerror {
    width: 500px;
    height: 300px;
    background: #ddd;
    border-radius: 50px;
    margin: -299px 0 0 530px;
}
.img1 {
    margin: 10px 0 0 90px;
}
.img2 {
    margin: 10px 0 0 157px;
}
.tstitle2 {
    margin: 37px 0px 0px 229px;
}
.aboutdiv {
    width: 700px;
    height: 300px;
    background: #ddd;
    margin: 50px auto;
    border-radius: 30px;
}
.navbar2 {
    width: 1366px;
    border-top: 60px solid #ddd;
    margin: -8px;
}
.website_view_set {
    width: 300px;
    height: 20px;
    background: rgb(148, 144, 144);
}
.website_history {
    width: 300px;
    height: 20px;
    background: rgb(148, 144, 144);
    margin: 10px 0 0 0;
}
.sub_sub_set {
    width: 300px;
    height: 20px;
    background: rgb(148, 144, 144);
    margin: 10px 0 0 0;
}
.site_err_msg {
    width: 300px;
    height: 20px;
    background: rgb(148, 144, 144);
    margin: 10px 0 0 0;
}
.acc_acc_set {
    width: 300px;
    height: 20px;
    background: rgb(148, 144, 144);
    margin: 10px 0 0 0;
}
.website_offline_template_down {
    width: 500px;
    height: 20px;
    background: rgb(148, 144, 144);
    margin: 10px 0 0 0;
}
.website_offline_copy_down {
    width: 500px;
    height: 20px;
    background: rgb(148, 144, 144);
}
.website_lite_down {
    width: 500px;
    height: 20px;
    background: rgb(148, 144, 144);
    margin: 10px 0 0 0;
}