.body {
    background: url("/IMAGES/macos.png");
}
::-webkit-scrollbar {
    display: none;
    visibility: hidden;
    opacity: 0;
}
.logo {
    margin: -80px 15px 30px 15px;
}
.nm1 {
    margin: -57px 0px -3px 49px;
    font-family: Arial;
}
.nm2 {
    margin: -18px 0px -3px 210px;
    font-family: Arial;
}
.nm3 {
    margin: -18px 0px -3px 296px;
    font-family: Arial;
}
.nm4 {
    margin: -18px 0px -3px 410px;
    font-family: Arial;
}
.nm5 {
    margin: -18px 0 -3px 497px;
    font-family: Arial;
}
.nm6 {
    margin: -18px 0 -3px 615px;
    font-family: Arial;
}
.nm7 {
    margin: -18px 0 -3px 745px;
    font-family: Arial;
}
.nm8 {
    margin: -18px 0 -3px 948px;
    font-family: Arial;
}
.nm9  {
    margin: -18px 0 -3px 1265px;
    font-family: Arial;
}
.navbar2 {
    width: 102%;
    border-top: 60px solid rgb(103, 38, 207);
    margin: -8px;
    height: 100vh;
}
.abt {
    text-align: center;
    margin: -635px 0 -3px;
    color: rgb(103, 38, 207);
    font-family: Arial;
}
.abtcont {
    width: 700px;
    border-top: 350px solid rgb(103, 38, 207);
    margin: 40px 0 -3px 320px;
    height: 100px;
    border-radius: 9px 9px;
}
.abt-desk {
    text-align: center;
    margin: -938px 0 -3px;
    color: rgb(103, 38, 207);
    font-family: Arial;
}
.abtcont-desk {
    width: 700px;
    border-top: 350px solid rgb(103, 38, 207);
    margin: 40px 0 -3px 600px;
    height: 100px;
    border-radius: 9px 9px;
}
.gthbacc {
    margin: -330px 0 -3px 20px;
    font-family: Arial;
    color: rgb(103, 38, 207);
    font-size: 20px;
}
.gthbabt {
    margin: 8px 0 -3px 20px;
    font-family: Arial;
    color: rgb(103, 38, 207);
    font-size: 20px;
}
.prj {
    margin: 8px 0 -3px 20px;
    font-family: Arial;
    color: rgb(103, 38, 207);
    font-size: 20px;
}
.frks {
    margin: 8px 0 -3px 20px;
    font-family: Arial;
    color: rgb(103, 38, 207);
    font-size: 20px;
}