@import url("/assets/CSS/common_code.css");
.body {
    background: var(--lx-web-agreement-page-background-color);
    font-family: Arial;
}
.error-title-navbar, .error-footer {
    border-radius: 9px;
}
.error-title-navbar {
    margin: 10px;
    background-color: rgb(41, 40, 40);
}
.error-footer {
    margin: 50px;
}
.main-page, .support-page {
    width: 300px !important;
}
.main-page {
    margin: -30px;
}
.support-page {
    margin: 40px;
}