@import url("/assets/CSS/CustomCSS/customcss.css");

@media screen and (width: 1920px) {
    .body {
        background: url("/assets/Images/WalpaperImages/1920x1080/macosmonterey.png");
        font-family: Arial;
    }
    ::-webkit-scrollbar {
        display: none;
        visibility: hidden;
        opacity: 0;
    }
    .logo {
        margin: -15px 15px 30px -23px;
    }
    .menu1 {
        margin: -57px 0px -3px 20px;
    }
    .menu2 {
        margin: -18px 0px -3px 183px;
    }
    .menu3 {
        margin: -18px 0px -3px 239px;
    }
    .menu4 {
        margin: -18px 0px -3px 297px;
    }
    .menu5 {
        margin: -18px 0 -3px 367px;
    }
    .menu6 {
        margin: -18px 0 -3px 444px;
    }
    .menu7 {
        margin: -18px 0 -3px 565px;
    }
    .menu8 {
        margin: 5px 0 -3px 0px;
    }
    .menu9 {
        margin: -18px 0 -3px 110px;
    }
    .home:link, .home:visited, .home:active {
        color: var(--lx-web-plato-color);
        text-decoration: none;
    
    }
    .home:hover {
        color: var(--lx-web-link-hover);
        text-decoration: none;
    }
    .navbar, .contentsbox {
        border-radius: 9px;
    }
    .navbar {
        width: 96.7%;
        border: 35px solid var(--lx-web-opc-purple-color);
        margin: -1px;
        height: 0vh;
    }
    .contentsbox {
        width: 10%;
        border: 200px solid var(--lx-web-opc-purple-color);
        margin: 10px;
        height: -0vh;
    }
    .contentsbox_1 {
        margin: -820px 0 0 615px;
    }
    .contentsbox_2 {
        margin: 10px 0 0 615px;
    }
    .contentsbox_3 {
        margin: -810px 0 0 1220px;
    }
    .contentstitle {
        margin: -180px;
        text-align: center;
    }
    .conthr {
        margin: 190px -200px;
    }
    .contlogo {
        margin: -200px -10px 0px 0px;
    }
    .cont {
        margin: 0 0 0 -185px;
    }
    .cont1 {
        margin: -35px 0 0 -200px;
    }
    .adwmlogo {
        margin: -200px -10px 50px -48px;
    }
    .createddate {
        margin: -50px 0 0 285px;
    }
}

@media screen and (width: 2560px) {
    .body {
        background: url("/assets/Images/WalpaperImages/2560x1440/macosmonterey.jpg");
        font-family: Arial;
    }
    ::-webkit-scrollbar {
        display: none;
        visibility: hidden;
        opacity: 0;
    }
    .logo {
        margin: -15px 15px 30px -23px;
    }
    .menu1 {
        margin: -57px 0px -3px 20px;
    }
    .menu2 {
        margin: -18px 0px -3px 183px;
    }
    .menu3 {
        margin: -18px 0px -3px 239px;
    }
    .menu4 {
        margin: -18px 0px -3px 297px;
    }
    .menu5 {
        margin: -18px 0 -3px 367px;
    }
    .menu6 {
        margin: -18px 0 -3px 444px;
    }
    .menu7 {
        margin: -18px 0 -3px 565px;
    }
    .menu8 {
        margin: 5px 0 -3px 0px;
    }
    .menu9 {
        margin: -18px 0 -3px 110px;
    }
    .home:link, .home:visited, .home:active {
        color: var(--lx-web-plato-color);
        text-decoration: none;
    
    }
    .home:hover {
        color: var(--lx-web-link-hover);
        text-decoration: none;
    }
    .navbar, .contentsbox {
        border-radius: 9px;
    }
    .navbar {
        width: 97.5%;
        border: 35px solid var(--lx-web-opc-purple-color);
        margin: -1px;
        height: 0vh;
    }
    .contentsbox {
        width: 10%;
        border: 200px solid var(--lx-web-opc-purple-color);
        margin: 10px;
        height: -0vh;
    }
    .contentsbox_1 {
        margin: -820px 0 0 680px;
    }
    .contentsbox_2 {
        margin: 10px 0 0 680px;
    }
    .contentsbox_3 {
        margin: -810px 0 0 1350px;
    }
    .contentstitle {
        margin: -180px;
        text-align: center;
    }
    .conthr {
        margin: 190px -200px;
    }
    .contlogo {
        margin: -200px -10px 0px 0px;
    }
    .cont {
        margin: 0 0 0 -185px;
    }
    .cont1 {
        margin: -35px 0 0 -200px;
    }
    .adwmlogo {
        margin: -200px -10px 50px -48px;
    }
    .createddate {
        margin: -50px 0 0 285px;
    }
}