@import url("/CSS/CustomCSS/customcss.css");

@media screen and (width: 1920px) {
    body {
        font-family: Arial;
    }
    .abt{
        text-align: center;
        margin: -px 0 -3px;
        color: var(--lx-web-purple-color);
    }
    .abtcont {
        width: 275px;
        border: 200px solid var(--lx-web-opc-purple-color);
        border-radius: 9px;
        margin: 40px 0 -3px 32%;
        height: 0px;
    }
    .gthbacc {
        margin: -187px 0 -3px -187px;
    }
    .gthbacc, .prj, .frks {
        color: var(--lx-web-abt-title-color);
        font-size: 20px;
    }
    .prj, .frks {
        margin: 8px 0 -3px -187px;
    }
}

@media screen and (width: 1920px) {
    body {
        font-family: Arial;
    }
    .abt{
        text-align: center;
        margin: -px 0 -3px;
        color: var(--lx-web-purple-color);
    }
    .abtcont {
        width: 275px;
        border: 200px solid var(--lx-web-opc-purple-color);
        border-radius: 9px;
        margin: 40px 0 -3px 37%;
        height: 0px;
    }
    .gthbacc {
        margin: -187px 0 -3px -187px;
    }
    .gthbacc, .prj, .frks {
        color: var(--lx-web-abt-title-color);
        font-size: 20px;
    }
    .prj, .frks {
        margin: 8px 0 -3px -187px;
    }
}
