@import url("/assets/CSS/CustomCSS/customcss.css");

body {
    font-family: Arial;
}
.abt{
    text-align: center;
    margin: -px 0 -3px;
    color: var(--lx-web-purple-color);
}
.abtcont {
    margin: 40px 0 -3px 32%;
}
.gthbacc {
    margin: -187px 0 -3px -187px;
}
.gthbacc, .prj, .frks {
    color: var(--lx-web-abt-title-color);
    font-size: 20px;
}
.prj, .frks {
    margin: 8px 0 -3px -187px;
}

@media screen and (width: 1920px) {
    .abtcont {
        margin: 40px 0 -3px 32%;
    }
}

@media screen and (width: 2560px) {
    .abtcont {
        margin: 40px 0 -3px 37%;
    }
}