@import url("/CSS/CustomCSS/customcss.css");

.body {
    background: url("/Images/macosmonterey.png");
    font-family: Arial;
}

.softwarename, .softwarename1 {
    width: 60%;
    border: 15px solid var(--lx-web-opc-purple-color);
    height: 0vh;
    border-radius: 9px;
}
.softwarename {
    margin: -1px;
}
.softwarename1 {
    margin: 10px 0px 0px -1px;
}
.home:link, .home:visited, .home:active {
    color: var(--lx-web-plato-color);
    text-decoration: none;
}
.home:hover {
    color: var(--lx-web-link-hover);
    text-decoration: none;
}
.menutext {
    margin: -10px 0 0 -10px;
}
.menutext1 {
    margin: -17.5px 0 0 180px;
}
.menutext2 {
    margin: -17.5px 0 0 100px;
}
.menutext3 {
    margin: -35.5px 0 0 270px;
}
.menutext4 {
    margin: -17.5px 0 0 170px;
}
.menutext5 {
    margin: -35.5px 0 0 410px;
}