@import url("/assets/CSS/CustomCSS/customcss.css");
body {
    background: var(--lx-web-agreement-page-background-color);
    font-family: Arial;
}
.title {
    color: white;
    text-align: left;
}
.home:link, .home:visited, .home:active, .home:hover {
    color: rgb(0, 60, 255);
    text-decoration: none;
}

.home:hover {
    color: var(--lx-web-link-hover);
}